h1 {
    color: blue;
}

p {
    font-size:large
}

.highlight {
    background-color:aqua
}

#main-title {
    color: chocolate;
}

#special-paragraph {
    font-style: italic;
}

ul {
    list-style-type: lower-greek;
}

li {
    color: blueviolet;
}